body,html {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.page-template {
  margin: 0;
  height: 100%;
  width: 100%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100% !important;
}
.el-form-item__label {
  text-align: center !important;
}

/*.head-span {*/
  /*white-space: nowrap;*/
/*}*/

/*.remind-message div {
  margin-left: 20px !important;
}

.rcv-mark div {
  color: red
}*/

/*.distribute-detail {*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
/*}*/
/*.distribute-detail table {*/
  /*width: 80%;*/
/*}*/
/*.distribute-detail table tr {*/
  /*line-height: 30px;*/
/*}*/
/*.distribute-detail table tr td{*/
  /*border-bottom: 1px solid #DCDFE6;*/
/*}*/
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.el-select {
  width: 100%;
}

.el-scrollbar__wrap {
  overflow-x: hidden !important;
}
.is-horizontal {
  display: none !important;
}

.pdf-hide {
  position:fixed;
  opacity:0;
}

.cell {
  word-break: normal !important;
}

.el-dialog__wrapper {
  right: 1px !important;
  left: 1px !important;
}
