@import "params";

.card-title {
  color: $card-title-color;
  &-operate {
    float: right;
    cursor: pointer;
  }
}
.card-body-item {
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  cursor: pointer;
  color: $card-body-font-color;
  font-size: $card-font-size;
  img {
    vertical-align: baseline;
  }
  &:hover {
    background-color: #f6f9fe;
  }
  &-title {
    margin-left: 5px;
  }
  &-time {
    float: right;
    margin-right: 5px;
    color: $card-body-time-font-color;
  }
}
