$label-font: 14px;
$label-font-color: #6d6d6d;
$input-background: #f7fafd;
$button-primary-background: #7a99c3;

$link-color: #6d6d6d;
$link-hover-color: #7a99c3;

$card-title-color: #285f85;
$card-title-font-size: 16px;
$card-title-icon-font-size: 14px;
$card-font-size: 14px;
$card-body-font-color: #414141;
$card-body-time-font-color: #9c9c9b;

$menu-background: #7a99c3;
$menu-title: #fff;
$menu-selected: #5f88b6;
$menu-body-background: #f3f4f5;

$button-width: 127px;
$button-height: 33px;

$button-mini-width: 60px;
$button-mini-height: 33px;

$page-footer-height: 50px;

$table-top-bar-height: 40px;
$deadline-row: #ffdcdf;
$ready-deadline-row: #f7efd1;

$table-deadline-row: #ffedef;
$table-ready-deadline-row: #fbf7e8;
$table-font-color: #414141;
$table-font-size: 14px;

$table-pagination-color: #7a99c3;
$table-pagination-background: #f8fbfd;
$table-pagination-background-hover: #dde6f1;
